<html ng-app="batmanCharacters">
    <head>
        <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js'></script>
        <script src='https://code.angularjs.org/1.2.20/angular-route.min.js'></script>
        <script src='charactersController.js'></script>
        <style>
            table, th, td { 
                border: 1px solid grey;
                border-collapse: collapse;
                padding: 5px;
            }
            .title_links {
                padding-right: 15px;
            }
        </style>
    </head>
    <body>
        <div ng-controller="charactersController">
        <!-- <div ng-view> -->
            <h1 align="center">
            <a href="http://batman.wikia.com/wiki/Category:Characters">Batman Characters</a>
            </br>
            </h1>
            <a class="title_links" href="" ng-click="jumpToId(character.link)" ng-repeat="character in characters">
                {{ character.characterName }} 
            </a>

            <table style="width:100%">
            <tr>
                <th>Name</th>
                <th>Real Name</th>
                <th>Description</th>
                <th>Image</th>
            </tr>
            <tr ng-repeat="character in characters" id="{{character.link}}">
                <td>
                    <a href="character/{{character.characterName}}">{{ character.characterName }}</a>
                    <!-- <a ng-href="http://batman.wikia.com/wiki/{{character.link}}" >{{ character.characterName }}</a> -->
                </td>
                <td>{{ character.realName }}</td>
                <td>{{ character.description }}</td>
                <td>
                    <img ng-src="{{character.image}}" style="width: 100px; height: 100px"/>
                </td>
            </tr>
            </table>
        </div>
        <!-- </div> -->
    </body>
</html>
