showHashLinks: <input type="checkbox" ng-model="showHashLinks"><br/>
<div ng-show="showHashLinks">
<a class="title_links" href="" ng-click="scrollToCharacter(character.link)" ng-repeat="character in characters">
    {{ character.characterName }} 
</a>
</div>

</br>
</br>

<table style="width:100%">
    <tr>
        <th>Name</th>
        <th>Real Name</th>
        <th>Description</th>
        <th>Image</th>
    </tr>
    <tr ng-repeat="character in characters" id="{{character.link}}">
        <td>
            <a href="/#/character/{{character.characterName}}">{{ character.characterName }}</a>
        </td>
        <td>{{ character.realName }}</td>
        <td>{{ character.description }}</td>
        <td>
            <img ng-src="{{character.image}}" style="width: 100px; height: 100px"/>
        </td>
    </tr>
</table>