
<h1 align="center">
    <a href="http://batman.wikia.com/wiki/Category:Characters">Batman Characters</a>
    </br>
</h1>
<a class="title_links" href="" ng-click="goToCharacterPage(character.characterName)" ng-repeat="character in characters">
    {{ character.characterName }} 
</a>

</br>
</br>

<table style="width:100%">
    <tr>
        <th>Name</th>
        <th>Real Name</th>
        <th>Description</th>
        <th>Image</th>
    </tr>
    <tr ng-repeat="character in characters" id="{{character.link}}">
        <td>
            <a href="/#/character/{{character.characterName}}">{{ character.characterName }}</a>
        </td>
        <td>{{ character.realName }}</td>
        <td>{{ character.description }}</td>
        <td>
            <img ng-src="{{character.image}}" style="width: 100px; height: 100px"/>
        </td>
    </tr>
</table>