<!DOCTYPE html>
<html ng-app="BatmanCharactersApp">
    <head>
        <title>Batman Characters</title>
        <style>
            table, th, td { 
                border: 1px solid grey;
                border-collapse: collapse;
                padding: 5px;
            }
            .title_links {
                padding-right: 15px;
            }
        </style>
    </head>
    <body>
        <div ng-controller="CharactersController">
            <h1 align="center">
                <a ng-href="#/">Batman Characters</a> - 
                <a href="http://batman.wikia.com/wiki/Category:Characters">Wiki</a>
                </br>
            </h1>

            showCharacterPageLinks: <input type="checkbox" ng-model="showCharacterPageLinks"><br/>
            <div ng-show="showCharacterPageLinks">
                <a class="title_links" href="" ng-click="goToCharacterPage(character.characterName)" ng-repeat="character in characters">
                    {{ character.characterName }} 
                </a>
            </div>
        </div>

        <div ng-view></div>

        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src='js/main.js'></script>
    </body>
</html>
